.App {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.sidebar {
    border-right: 1px solid black;
    background-color: #3b38a6;
    color: #ffffff;
}

.title {
    margin-left: 7px;
    margin-top: 7px;
}

.main-content {
    margin: 10px;
    position: relative;
    color: #000000;
    flex-grow: 1;
}


